# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ROS 2 / colcon
build/
install/
log/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*~

# Python packaging
*.egg-info/
dist/
